@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
.important {
	/*padding-top:15%;*/
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-weight:600;
	font-size:60px;
	padding-top:3.5%
}
.lessimportant {
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-size:30px;
}
.lessimportantbody {
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-size:30px;
	padding-top:100px;
	margin-bottom: -100px;
}
.placeholder{
	padding-top:60px;
	height:100px;
	width: 20%;
	text-align:center;
	border-radius:50%;
	background-color:#8000ff;
	font-color:#8000ff;
}
.toplinkdiv{
	padding-top:0%;
	text-align:center;
	width:20%;
	border-radius:50%;
	background-color:white;
}
.link {
	font-family:Zilla Slab;
	/*background-color:white;*/
	color:white;
	font-color:white;
}
.circleblock {
	width: 250px;
	height: 250px;
	margin-left: 14%;
	background-color: white;
	display: inline-block;
	border-radius: 60%;
	vertical-align: middle;
}

.circleblock > a.circletext { 
	display: table-cell; 
	height: 240px; 
	vertical-align: middle;
	text-align: center;
	width: 100px;
	padding-left: 75px;
	text-decoration: none;
}

.circletext {
	font-family:Zilla Slab;
	/*background-color:white;*/
	color:#8000ff;
	text-decoration: none;
	font-size: 25px; 
}

.backlink {
	font-family:Zilla Slab;
	/*background-color:white;*/
	font-color:#8000ff;
	text-decoration:none;
	font-weight:800;
	font-size:25px;
	color: white;
}
.resize_fit_center {
	vertical-align: middle;
}
.sm {
	margin: 100px;
}

.animated {
	background-color: #8000ff;
	padding-bottom:100px;
	padding-left:inherit;
	padding-right:inherit;
	padding-top:inherit;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}